APP_ENV=testing
APP_KEY=base64:aQH6a/dWOf67PeU3MW1K/ynoLdxJkOov5WY6LrAsHlo=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://localhost

DOMAIN=localhost
SESSION_DOMAIN=.localhost

DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=gzero-tests
DB_USERNAME=root
DB_PASSWORD=